<div class="panel panel-primary">
  <div class="panel-heading"><%= @song.title %></div>

  <div class="panel-body">


    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Song url: <%= @song.song_url %></p>

    <!-- About -->


</div>
